.nav-link:after {
  content: "|";
  position: relative;
	top: -2px;
  margin-left: 15px;  
}

a:last-child:after {
  content: "";
}

h1 {
  font-size: 64px !important;
  margin-top: 30px !important;
  margin-bottom: 30px;
}

h1, h3 {
	text-align: center;
  font-family: 'Zen Loop', cursive;
  
}

p {
  font-size: 32px;
}

